/**
* Project: < ProjectName >;
* Date: < dd MM YYYY >;
* Author: < Firstname Lastname >;
* Company: TouchMedia360;
**/
/*====================================================
#   GENERAL STYLES                                   #
====================================================*/
* {
    border: 0 none;
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
html, body {
    border: 0 none;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: none;
    color: #343434;
    font-family: open_sansregular,Arial,Helvetica,Tahoma,sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
}
/* asta este structura sa adaugi un font */
@font-face {
    font-family: 'Dosis-Book';
    src: url('../fonts/Dosis-Book.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis-Light';
    src: url('../fonts/Dosis-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis-Medium';
    src: url('../fonts/Dosis-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dosis-SemiBold';
    src: url('../fonts/Dosis-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
.clearfix:after{
    content: ".";
    display: block; 
    clear: both;
    visibility: hidden;
    line-height: 0; 
    height: 0; 
}
.clearfix{
    display: inline-block; 
}
* html .clearfix{
    height: 1%; 
}
html[xmlns] .clearfix {
    display: block; 
}
img{ 
    border: 0;
}
a{
    text-decoration: none;
    color: #307674;
}
a:hover{
    text-decoration: underline;
}
.transparent{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);  
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;  
    opacity: 0.7;  
}
button{
    position: relative;
    cursor: pointer;
}
input, select, textarea {
    background-color: #fefefe;
    border: 1px solid #ededed;
    border-radius: 5px;
    color: #2d2d2d;
    font-size: 12px;
    font-family: open_sansregular, Arial, Helvetica, Tahoma, Sans-Serif;
    padding: 8px 10px;
}
input:focus, select:focus, textarea:focus{
    box-shadow: 0 0 6px -4px #006f66;
}
textarea{
    max-width: 100%;
    min-height: 120px;
}
::-webkit-input-placeholder {
    color: #959595;
    font-weight: normal;
    font-family: open_sansregular, Arial;
    opacity: 1;
}
:-moz-placeholder {
    color: #959595;
    font-weight: normal;
    font-family: open_sansregular, Arial;
    opacity: 1;
}
::-moz-placeholder {
    color: #959595;
    font-weight: normal;
    font-family: open_sansregular, Arial;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #959595;
    font-weight: normal;
    font-family: open_sansregular, Arial;
    opacity: 1;
}
/*====================================================
#   CMS DEFAULTS                                     #
====================================================*/
.error {
    width: 100%;
}
.red, .green {
    border: 1px solid;
    margin: 10px 0;
    padding: 15px 10px 15px 36px;
    background-repeat: no-repeat;
    background-position: 10px center;
    overflow: hidden;
}
.green {
    border: 1px solid #90B96B;
    color: #345F0E;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAehJREFUeNpi/P//PwMlgImBQsACIhhnCAFZjEAGkANy0B8gwQ00m5kRogpEMYHl5YF4LZBXw/D3/47/Ea/xuOD7PwaGX1AMMvDvfwGGf/8nprkkGQPZLUAVHqR4gY3hH0Ofoby+6ZcvXxjinWL0Gf4wtMC9QAAwAjXXK0jIO8gLyUl9/Pzx98Fjh24AXdOA7gIPoP/PwJwGdvoPoNP/MGQIcwkGq4mrKHz5+uXf0UtH7wBdMRGodgvCgP9ATX/+tyT5JxqCaDAfIu7DwcSWJckjqfzgwQOGU5dP3f3w4cNSoJq5DL//I0Xjn38tMX4xes+ePWOK8IowAPGBmnNZ/jPVS4vLqH7985Xl5YcXDz99+rAJGIDtQAxxIcKA/zVLViy8xM7J9uvU7VPMDnaOOkAb4sVkxTV+sPxgf/fhzdOP797vZ/gLjD4Ghn8oAQRKiYx9/AxADaAwaDF2NtN6+vMZpwCnAMP7b+8Zfrz49vrj3fdHGJgZkhhYmT4wsELTC8iHWe+RAvE/ww6g02vO7jhxjfkv49fXjK8Zvn/5+uHTzXcXgSGeC1TxAWdKRDHk81+Gp5vutnCZ8Mt8v/DpDtCBeUBrnuJNyigAmEQZ3v9h+LbzTQsw+ZYwCLJcBydjXIlkwHMjQIABAIHQ3hY9qLekAAAAAElFTkSuQmCC') no-repeat scroll 10px center #C2EE9B;
}
.red {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX5JREFUeNrEU71OwlAUPrVqrDFBHsARX6AJri4kJSEyEBMHggkLK8EEFsauvoPo4iN04gkgLiYOOBHUxDSUCBO0XL9z7a1t1YnBJl967/l+enIOaEII2uTZog2fbXW41zTSiSwcbaAbEDl+TJTmLsLO4x1YIOzzTscMvoRWmjtrNn9yPAPGHdFg3W6Lx1JJLFstwXfACjF4r9clN6lWJad8UUAPwhsQXqMh+vm8eK3VBN8ZT+WyrA0LBVljrfJpags9zMBnAi2eVirm82hEmUyGFosFvUwmZBgGzcfjoYYZYCbOZehLBKzwDsKQo1zOnLqu5HRdpw/XlWYM09lBTQVEW3gDdsMChLSazWhfkUEgw9nCm1n+9TuAwILAPs5mTcP36QA1Ba4xJ5LbSa4RX7FPIFSmB88bMtSduVVqjVEAE8WYuQ8jvthl9GMhxe+QZMAcwlsI93DmN9/RrsP4jVO+aAtX2IKH1tZIR2o3C+NhKJoBae46vcZ/+zd+CjAAN5vaL1x3kMMAAAAASUVORK5CYII=') no-repeat scroll 10px center #FABBBB;
    border: 1px solid #C88383;
    border-radius: 3px 3px 3px 3px;
    color: #882626;
}
.ajax-loading:before {
    background: url("../images/ajax-loading.gif") no-repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 11px;
    left: 10px;
    margin: auto 0;
    position: absolute;
    top: 0;
    width: 16px;
}
/*====================================================
#   MAIN BLOCKS                                      #
====================================================*/
#page {
    display: block;
    min-height: 100%;
    position: relative;
    width: 100%;
    background-color: #EAFFFE;
}
#wrapper {
    display: block;
    width: 100%;
}
.container {
    display: block;
    margin: 0 auto;
    padding: 21px 15px;
    position: relative;
    width: 768px;
}
.full-width{
    width:100%;
    height: 100%;
}
.full-width-cover{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.logo{
    width:100px;
    height: 56px;
    margin:0 auto;
}
.product-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.index-title{
    text-transform: uppercase;
    font-family: 'Dosis-SemiBold';
    font-size: 25px;
    color:black;
    margin-bottom: 40px;
    text-align: left;
}
/*====================================================
#   HEADER                                           #
====================================================*/
header#header {
    display: block;
    height: 46px;
    position: relative;
    width: 100%;
    z-index: 10;
    background-color: white;
}
.header-container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.header-language{
    font-family: 'Dosis-SemiBold';
    font-size: 15px;
    color:white;
    text-transform: uppercase;
    width:25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
}
.header-categorie-text{
    font-family: 'Dosis-SemiBold';
    font-size: 20px;
    text-transform: uppercase;
    color:black;
}
.header-categorie-bullet{
    width:6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    margin:0 auto;
}
.header-categorie-container{
    display:flex;
    flex-direction: column;
    width:fit-content;
    margin-left: 30px;
    margin-right: 30px;
}
.header-categorii{
    padding-left: 68px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.header-categorii::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .header-categorii {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

/*====================================================
#   FOOTER                                           #
====================================================*/
footer#footer {
    background-color: #aaa;
    display: block;
    height: 200px;
    width: 100%;
    z-index: 9;
}
/**## START HACK: Keep footer at the bottom **/
footer#footer { bottom: 0; left: 0; position: absolute; }
/* main#content { padding-bottom: 200px;  } */
/**## END HACK: Keep footer at the bottom **/


/*====================================================
#   CONTENT                                          #
====================================================*/
main#content {
    display: block;
    position: relative;
    width: 100%;
    z-index: 8;
}
.product-item{
    width: 100%;
    padding-bottom: 20px;
    background-image: url(../images/valuri.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 318px;
    margin-left: 8px;
    margin-right: 8px;
}
.product-item-image{
    width:100%;
    height: 220px;
    display:block;
}
.product-item-description-container-drinks{
    height: 200px!important;
    display: flex;
    flex-direction: column;
}
.product-item-informations-drinks{
    justify-content: initial!important;
}
.product-item-ttle-drinks{
    height:auto!important;
    flex-grow: 1;
}
.product-item-description-container{
    width:100%;
    padding:20px;
    background-color: white;
    height: 250px;
}
.product-item-title{
    font-family: 'Dosis-Medium';
    font-size: 16px;
    color:black;
    text-transform: uppercase;
    margin-bottom: 10px;
    display:flex;
    height: 50px;
}
.product-item-ingredients-title{
    font-family: 'Dosis-Medium';
    font-size: 14px;
    color:black;
    text-transform: uppercase;
}
.product-item-ingredients{
    font-family: 'Dosis-Medium';
    font-size: 14px;
    color:black;
    margin-bottom: 30px;
    height: 50px;
}
.product-item-informations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.product-item-informations-pret-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-right:23px;
}
.product-item-pret{
    font-family: 'Dosis-Book';
    font-size: 20px;
    color:black;
}
.product-item-lei{
    font-family: 'Dosis-Light';
    font-size: 12px;
    color:black;
    margin-left: 5px;
}
.product-item-informations-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.allergens-image{
    width:20px;
    height: 17px;
}
.allergens-container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    border-left: 1px solid #DEDEDE;
    padding-left: 20px;
    padding-right: 20px;
}
.allergens-text{
    font-family: 'Dosis-Light';
    font-size: 11px;
    color:black;
    margin-left: 5px;
}
.grams{
    padding-right: 23px;
}
.recomandations-swiper{
    margin-bottom: 40px;
}
.recomandations{
    margin-top: 20px;
}
.recomandations-image{
    width:100%;
    height: 228px;
    display: block;
}
.recomandations-description-title{
    font-family: 'Dosis-Medium';
    font-size: 21px;
    color:black;
    margin:0 auto;
    text-align: center;
    height: 78px;
    line-height:1;
    height:85px;
    margin-bottom:40px;
}
.recomandations-description{
    background-color: white;
    padding:20px;
}
.recomandations-item{
    border-radius: 20px;
    overflow-y: hidden;
}
.recomandations-informations{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.recomandations-informations-item-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.recomandations-informations-title{
    font-family: 'Dosis-Book';
    font-size: 20px;
    color:black;
}
.recomandations-informations-description{
    font-family: 'Dosis-Light';
    font-size: 12px;
    color:black;
}
.recomandations-informations-image{
    width:25px;
    height: 22px;
    margin-bottom: 5px;
}
.are-borders{
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
    padding-left: 23px;
    padding-right: 23px;
}
.left{
    padding-right:23px;
}
.right{
    padding-left:23px;
}
.recomendations{
    padding-bottom: 60px!important;
}
.pop-up-da{
    border-radius: 20px!important;
    display: none;
    overflow: hidden!important;
    width:500px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.swiper-pagination-bullet{
    widtH: 15px !important;;
    height: 15px!important;
}
.swiper-pagination-bullet-active{
    background-color: black!important;
}
.pop-up-image{
    width:100%;
    height: 220px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow:hidden;
}
.pop-up-text-contaienr{
    background-color: white;
    padding:20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow:hidden;
}
.pop-up-title{
    font-family: 'Dosis-SemiBold';
    font-size: 18px;
    color:black;
    text-transform: uppercase;
    margin:0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.pop-up-text{
    font-family: 'Dosis-Book';
    font-size: 16px;
    color:black;
    text-align: left;
}
.fancybox-content{
    background-color: transparent!important;
    overflow:hidden;
    border-radius: 20px;
    padding:10px!important;
}
.close-fancy{
    background-color: transparent;
    position: absolute;
    padding:20px;
    top:20px;
    right: 20px;
}
.drinks-left{
    
}
.drinks-right{
    border-right: 0px;
    padding-right: 0px;
}
.scroll-up {
    display: none;
    background-color: black;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: 0;
    color: #fff;
    cursor: pointer;
    padding: 15px;
    opacity: 0.9;
    border-radius: 50%;
}
.scroll-up > img {
    width: 15px;
    transform: rotate(180deg);
}
.is-hot{
    width:15px;
    height:15px;
    margin-left:10px;
}
